.FormContainer {
  height: 200px;
  width: 98vw;
  box-shadow: 0px 0px 10px 0px rgba(113, 29, 230, 0.5);
  display: block; /* Change display to block */
  margin: 0 auto; /* Center horizontally */
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
  border-radius: 5px;
}

.form {
  height: 50px;
  width: 30vw;
  border: 1px solid rgb(172, 9, 104);
}
